* {
    margin: 2px;
    padding: 0px;
} 
html{
    background: rgba(136,209,235,1);
    background: -moz-linear-gradient(left, rgba(136,209,235,1) 0%, rgba(242,181,242,1) 84%, rgba(242,181,242,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(136,209,235,1)), color-stop(84%, rgba(242,181,242,1)), color-stop(100%, rgba(242,181,242,1)));
    background: -webkit-linear-gradient(left, rgba(136,209,235,1) 0%, rgba(242,181,242,1) 84%, rgba(242,181,242,1) 100%);
    background: -o-linear-gradient(left, rgba(136,209,235,1) 0%, rgba(242,181,242,1) 84%, rgba(242,181,242,1) 100%);
    background: -ms-linear-gradient(left, rgba(136,209,235,1) 0%, rgba(242,181,242,1) 84%, rgba(242,181,242,1) 100%);
    background: linear-gradient(to right, rgba(136,209,235,1) 0%, rgba(242,181,242,1) 84%, rgba(242,181,242,1) 100%);
}
body{
    text-align: center;
}
.yes{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 40px;
    border: 5px solid rgb(190, 112, 112);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    background-image: url("frozen.gif");
    
}
.no{
    text-align: center;
    font-size: 40px;
    border: 5px solid rgb(190, 112, 112);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    background-image: url("pink-lines.gif");
    font-family: 'Lobster', cursive;
}
.titulo{
    text-align: center;
    background-color: rgb(49, 38, 29);
    border-radius: 10px;
    border:5px solid rgb(235, 110, 208);
    margin-bottom: 15px;
}

.helados{
    margin: 7px;
    padding:5px;
    width:410px;
    height: 570px;
    background-color: rgb(233, 206, 116);
    border-radius: 10px;
    
}

.paletas{
    margin: 7px;
    padding:5px;
    width:410px;
    height: 570px;
    background-color: pink;
    border-radius: 10px;
    
}


.nieves{
    margin: 7px;
    padding:5px;
    width:410px;
    height: 570px;
    background-color: rgb(96, 165, 142);
    border-radius: 10px;
    
}

.options{
    text-align: center;
    margin: 7px;
    padding:5px;
    width: auto;
    height: auto;
    background-color: rgb(255, 168, 7);
    border-radius: 10px;
    border:5px solid rgb(255, 168, 7);    
}

.principal{
    margin: 7px;
    padding:5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    border:5px solid rgb(255, 168, 7);
    background-color: rgb(78, 196, 196);
   
}

.cuenta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:5px;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(136, 80, 117);
    border-radius: 10px;
    border:2px solid rgb(110, 139, 235);
}

button{
    margin: 7px;
    padding:5px;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(255, 168, 7);
    border-radius: 10px;
    border:5px solid rgb(255, 168, 7);
}

.panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:5px;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(184, 159, 175);
    border-radius: 10px;
    border:2px solid rgb(110, 139, 235);
}

h3{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}

